<div class="panel panel-default">
    <div class="panel-footer" style="height: 70;">
      <div class="row-fluid">
        <div class="span12">
          <div class="row-fluid">
            <div class="col-md-4">

            </div>
            <div class="col-md-4 text-center">
              <p style="font-size:80%;">Music discoverer is a web crawler application made for enjoy the music</p>
              <p style="font-size:80%;">Copyright (C) 2017 <a href="https://github.com/jdecastroc">@jdecastroc</p></a>
            </div>
            <div class="col-md-4 text-center">
            
            </div>
          </div>
        </div>
    </div>
  </div>
</div>